<div class="division division_fullwidth page_title">
  <div>
      <h1>Welcome to CrazyFluffyPony's statistics page!</h1>
  </div>
</div>
<div class="division">
    <h2>What is being tracked?</h2>
    <p>This depends on the settings you have choosen. You can select anything between 0% and 100% tracking. Below is a list of events that could be tracked.</p>
    <ul>
        <li>Your IP address</li>
        <li>Pages you have visited</li>
        <li>Time spent on the pages</li>
        <li>Interaction with the pages</li>
    </ul>
</div>
<div class="division">
    <h2>Settings / Popup</h2>
    <p>If you visit any page that includes the tracking for the first time, you are asked to choose your tracking settings. These settings can only be changed by deleting the browsers data for all pages under the .flaffipony.rocks domain.</p>
    <ul>
        <li>Firefox: Settings -> Privacy & Security -> Cookies and Site Data -> "Clear Data"</li>
        <li>Chrome: Settings -> Privacy & Security -> Delete Browserdata -> activate checkbox "Cookies and other data"</li>
    </ul>
</div>
<div class="division">
    <h2>Why? Reasons for the tracking</h2>
    <p>In order to find out which tools and features are used the most and deserve the most time spent for enhancements, i need to track the usage of them.</p>
</div>
<div class="division">
    <h2>Privacy</h2>
    <p>Only your IP address will be used to indentify you as a single user. No fingerprinting techniques are used. No data will be forwarded to anyone. If i publish results of the data (e.g. total amount of visitors this month) the data is obivously anonymized, personal data like IP addresses will never be published.</p>
</div>
<div class="division">
    <h2>Who can see the data?</h2>
    <p>The only one having access to the data is me.</p>
</div>
<div class="division">
    <h2>Which services use the tracking?</h2>
    <p>Every website under the .flaffipony.rocks domain</p>
</div>